#header{
    background-color: rgb(197, 72, 239);
    height: 100px;
    align-content: center;
}
#footer{
    background-color: rgb(197, 72, 239);
    height: 100px;
    align-content: center;
    justify-items: center;
    color: aliceblue;
}
.navbar ul{
    text-decoration: none;
    color:inherit;
    color:aliceblue;
    display:flex;
    justify-content: flex-end;
    gap:30px;
    padding-right: 20px;
}
.navbar ul li a{
    text-decoration: none;
    color:inherit;
    font-size: large;
    font-weight: bold;
}
.navbar ul li:hover{
    text-decoration: none;
    color: rgb(249, 254, 106);
    cursor: pointer;
}
img{
    width: 200px;
    height: 200px;
}
.crt-btn{
    background-color: rgb(197, 72, 239);
    color: aliceblue;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#books{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.book{
    width: 250px;
    height: 500px;
    text-align: center;
}
.head{
    padding: 10px;
    background-image: url("images/bg.jpg");
    background-size: cover;
    border-radius: 20px;
    opacity:0.9;
    margin: 20px auto;
    height:auto;
}
.overlay{
    border-radius: 20px;
    text-align: center;
    color:aliceblue;
    padding: 20px;
}
.overlay:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
}
#carts{
    margin: 100px;
    align-items: center;
    justify-content: center;
}
#cart-head{
    padding: 5px;
    display: flex;
    justify-items: flex-end;
    justify-content: space-evenly;
    font-size: large;
    font-weight: bold;
    background-color: honeydew;
    border-radius: 10px;
    font-size: x-large;
}
#Purchase{
    width:100px;
    height:50px;
    border: none;
    border-radius: 5px;
    padding:10px;
    background-color: rgb(197, 72, 239);
    margin:10px;
    color:aliceblue;
    cursor:pointer;
}
.del-btn{
    background-color: cadetblue;
    border: none;
    color:white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.cart-items{
    display:flex;
    align-items: center;
    justify-content: baseline;
    justify-content: space-between;
    font-size: x-large;
}
#total{
    display:flex;
    justify-content: flex-end;
    font-size: xx-large;
    font-weight: bolder;
}
.item-quantity{
    width: 100px;
    height: 50px;
    border-radius: 10px;
    align-content: center;
}